<!doctype html>

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Zirnis DEVOPS CP</title>
    <script src="https://kit.fontawesome.com/7efa1ccb97.js" crossorigin="anonymous"></script>

  </head>
  <link href="static/styles.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?
    family=Roboto:ital,wght@0,100.900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <body>
    <div class="container">
      <div class="navbar">
        <h2 id="EZ">EZ</h2> 
        <nav><i class="fa-regular fa-house"></i> </nav>
        <nav><i class="fa-regular fa-address-book"></i></nav>
        <nav><button>Create your CV</button></nav>
      </div>

      <div class="picture">
          <img class="profile-pic" src="static/profile.jpg"/>
          <div class="overlay">
              <h1>Eriks Zirnis</h1>
              <h2>Junior DevOps</h2>
              <p><i class="fa-brands fa-linkedin-in"></i>
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-github"></i>
                  <i class="fa-brands fa-square-instagram"></i></p>

          </div>
      </div>
      <div class="rightwing">
        <div class="resume">
            <h1>resume</h1>
            <div class="resume" id="one">
                <h3>Experience / Experience in DevOps / Certificates</h3>
            </div>
            <p>Experience description, what can i do and have i done.
                Description about 150 words long.
            </p>
        </div>
        <hr>
        <div class="skills">
            <h1><i class="fa-solid fa-gauge"></i>
                skills</h1>
            <div class="progress-bar">
              <div class="progress-label">
                <span>web development</span>
                <span>80%</span>
              </div>
              <progress id = "skill-1" value = "80" max="100"></progress>
              
              <h3>video editing</h3>
              <progress id = "skill-2" value = "80" max="100">80%</progress>
              <h3>Coding in python</h3>
              <progress id = "skill-3" value = "80" max="100">80%</progress>
              <h3>AWS</h3>
              <progress id = "skill-4" value = "80" max="100">80%</progress>
              <h3>GIT</h3>
              <progress id = "skill-5" value = "80" max="100">80%</progress>
              <h3>graphic design</h3>
              <progress id = "skill-6" value = "80" max="100">80%</progress>

              
            </div>

        </div>



      </div>
    </div>
  </body>
</html>
